@media screen and (min-width: 1030px) and (max-width: 1280px) {

#tronco3{
	right:0;
}
	
#tronco2{
	right:10%;
}	

#tronco1{
	right:0;
}	

}

@media screen and (min-width: 981px) and (max-width: 1024px) {
#tronco2{
	right:10%;
}	
	
#tronco1{
	right:0;
}	

#fija {
	left:16%;
}	
	
#imagination {
	right:41%;
}

#idea {
	right:46%;
}
	
#tronco3{
	right:0;
}
	
	
#aqui {
	left:35%;
}

#sueno {
	left:8%;
}

#viajo {
	font-size:2.3em;
}

#llevar {
	right:38%;
	font-size:1.3em;
	width:30%;
}

#interior {
	right:40%;
	font-size:2.5em;
}

#imagenes {
	font-size:2em;
	left:0;
}	

#instrumento {
	right:42%;
	font-size:3em;
}

#esencia {
	right:54%;
}

#phrase2 {
	font-size:4em;
	width:60%;
}

#textecredits {
	font-size:1em;
}

}


@media screen and (min-width: 641px) and (max-width: 980px) {
#go5{
	top:93%;
}

#texte-about{
	font-size:1.1em;
}
	
#slide5-CV{
	right:22%;
}
	
#CV{
	right:3.7%;
}	
	
#tronco2{
	right:10%;
}	
	
#tronco1{
	right:0;
}	

#fija {
	left:16%;
	font-size:2.2em;
}	
	
#imagination {
	right:35%;
}

#idea {
	right:40%;
}
	
#tronco3{
	right:0;
}	
	
#aqui {
	left:45%;
}

#sueno {
	left:6%;
	font-size:3.3em;
}

#viajo {
	font-size:2em;
	left:4%;
}

#llevar {
	right:40%;
	font-size:1.3em;
	width:36%;
}

#interior {
	right:39%;
	font-size:2.5em;
}

#imagenes {
	font-size:2em;
	left:5%;
}	

#instrumento {
	right:39%;
	font-size:2.4em;
}

#esencia {
	right:54%;
}

#phrase2 {
	font-size:4em;
	width:49%;
	left:5%;
}

#textecredits {
	font-size:1em;
	left:4%;
	top:32%;
}

#credits {
	left:4%;
	top:26%;
}

#follow-me{
	left:4%;
	top:7%;
}

#emailme{
	left:4%;
	top:14%;
}

#myblog{
	left:10%;
	top:14%;
}

#facebook{
	left:16%;
	top:14%;
}

#twitter{
	left:22%;
	top:14%;
}

#pinterest{
	left:28%;
	top:14%;
}

#logotexte{
	font-size:0.8em;
	top:92%;
	left:8.5%;
}

#logoisabellabeau{
	top:90%;
	left:2%;
}

#titre2{
	left:43%;
	font-size:1.3em;
}

#titre-aboutme{
	left:43%;
	font-size:1.4em;
}

#ligne-points{
	left:5%;
}

#avion{
	left:4%;
}

#tangible{
	left:4%;
	font-size:3em;
	
}

#filter li {
	font-size: 1.2em;
}


}


/* Smartphones (portrait and landscape) */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {


}

/* Smartphones (landscape) */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) */
@media only screen
and (max-width : 320px) {

}