@media screen and (min-width: 1800px) and (max-width: 1824px) {

#tronco2{
	right:22%;
}

#tronco1{
	right:13%;
}

#aqui {
	right:14.5%;
}

}

@media screen and (min-width: 1030px) and (max-width: 1280px) {

#tronco3{
	right:5%;
}
	
#tronco2{
	right:20%;
}	

#tronco1{
	right:12%;
}	

.content{
	width:100%;
}

#titre-aboutme {
	left:40.5%;
}

#titre2 {
	left:41%;
}

#instrumento {
	right:38%;
}

#texte-about {
	left: 18%;
}

#CV {
	right: 8%;
}

#slide5-CV{
	right: 19.7%;
}

#go5{
	left: 50%;
}

#isabellabeau {
	left:18%;	
}

#raiz-tronco-01 {
	position:absolute;
	left:134px;
	top:175px;
	z-index:20;
}

#raiz-tronco-02 {
	position:absolute;
	left:40px;
	top:508px;
	z-index:20;
}

#raiz-tronco-03 {
	position:absolute;
	left:191px;
	top:689px;
	z-index:20;
}

#crecer {
	left:20%;
	top:969px;
	color:#603362;
	font-size:4.3em;
	text-align:center;
	width:58%;
	z-index:20;
}

#interior {
	right:35%;
	z-index:30;
}

#avion {
	left:152px;
	top:364px;
}

#ligne-points {
	left:157px;
	top:421px;
}

#viajo {
	right:47%;
}

#imagination {
	right:45%;
}

#aqui {
	left:60%;
}

#idea {
	right:35%;
}

#fija {
	left:19%;
}

#sueno {
	left:27%;
}

}

@media screen and (min-width: 981px) and (max-width: 1024px) {
#imagination {
	right:47%;
}
	
#tronco3{
	right:0;
}
	
	
#aqui {
	left:53%;
}

#sueno {
	left:22%;
}

#viajo {
	right:52%;
	width:47%;
}

#llevar {
	right:41%;
	font-size:2em;
	width:27%;
}

#interior {
	right:44%;
	font-size:3.4em;
}

#imagenes {
	font-size:2.2em;
	left:6%;
}	

#instrumento {
	right:50%;
}

#esencia {
	right:54%;
}

}


@media screen and (min-width: 641px) and (max-width: 980px) {
	
#imagenes {
	font-size:2.1em;
	left:10%;
}
	
#imagination {
	right:25%;
	font-size:1.8em;
}

	
#llevar {
	font-size:1.7em;
}
	
#viajo {
	right:30%;
	font-size:2em;
}

#interior {
	right:36%;
	font-size:2.4em;
}

#tangible {
	left:4%;
	font-size:2em;
}	
	
.slide3{
	height: 1100px;
}

#follow-me {
	left:2%;
}

#tronco3{
	right:1%;
}

.rosa{
	font-size:3em;
}

#pinterest {
	left:22%;
}

#myblog {
	left:7%;
}

#emailme {
	left:2%;
}

#facebook {
	left:12%;
}

#twitter {
	left:17%;
}

#credits {
	left:2%;
}

#textecredits {
	left:2%;
	font-size:0.9em;
}

#logoisabellabeau {
	left:2%;
}

#logotexte {
	left:7.5%;
	font-size:0.8em;
}

#phrase2 {
	font-size:3.5em;
	width:42%;
	left:10%;
	top:15%;
}

#go2 {
	top:63.5%;
	left:36%;
}

#texte-about {
	left:14%;
	width:72%;
	font-size:1em;
	line-height:25px;
}

#isabellabeau {
	left:14%;
}

#CV {
	right:14.5%;
	font-size:0.8em;
}

#slide5-CV {
	right:26.8%;
}

#go5 {
	top:90%;
	left: 50%;
}

#esencia {
	right:60%;
}

#instrumento {
	right:53%;
	font-size:2.4em;
	width:35%;
}

#experiencias {
	right:41%;
	font-size:3.6em;
	width:47%;
}

.portfolio li { 
		width:50%;		
	}
#filter li {
	width:50%;
}

#tronco2{
	right:18%;
}

#tronco1{
	right:0;
	top:4167px;
}

#crecer{
	font-size:3.3em;
}

#fija{
	left:20%;
}

#sueno{
	left:15%;	
}

#idea{
	right:25%;
}

#aqui{
	left:61%;
	font-size:2em;
}

}


/* Smartphones (portrait and landscape) */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
#profile h1:before {  
    width: 300px;
	left:0;  
}  

#gallery h1:before {  
    width: 300px; 
	left:0; 
}

.portfolio li { 
		width:100%;		
	}

#gallery h3{
	 font-size: 26px;
	 line-height: 30px;
} 

#filter li {
	width:100%;
}

.project1{
	width: 300px;
	height:200px;
}	

.container .one-third.column{ 
	width: 80%; 
}

}

/* Smartphones (landscape) */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) */
@media only screen
and (max-width : 320px) {
.project a .pro-title h6{
	font-size: 26px;
}
.project a .pro-image img{
	width: 200px;
	height:200px;
}
	.portfolio li { 
		width:100%;		
	}
#gallery h3{
	 font-size: 18px;
	 line-height: 24px;
}
#filter li {
	width:100%;
}

.project1{
	width: 220px;
	height:147px;
}
}