*{outline: 0;padding: 0;margin: 0;border: 0;}
.uppercase{text-transform:uppercase;}
.txtcenter{text-align:center;}
.txtbottom{vertical-align:text-bottom;}
.txtleft{text-align:left;}
.txtright{text-align:right;}
.absolute{position:absolute;}
.relative{position:relative;}
.bottom{bottom:0px;}
.top{top:0px;}
.center{margin-left: auto;margin-right: auto;}
.right{float:right;}
.left{float:left;}
.clear{clear:both;}
.clickable{cursor:pointer;}
.show{display:block;}
.hide{display:none;}
.faded{opacity:0.4;}
.opaque{opacity:1.0;}
.varela{font-family:'Varela Round', sans-serif;}
.raleway{font-family:'Raleway', sans-serif;}
.girlnextwindow{font-family:'The Girl Next Door', cursive;}
.blanco {color: white;}
.violeta {color:#4c2f4b;}
.nivel1 {z-index:1;}
.nivel3 {z-index:2;}
.nivel4 {z-index:3;}
.nivel5 {z-index:4;}

.bloc{position:relative; margin:0; padding:0; width:100%;}
.max{position:relative; width:1140px; margin-left:auto; margin-right:auto; }



/* BLOC 3 */
.bloc3 {height:5063px;}
.content3{top:0px; width:1140px; height:5063px;}

#tallo3 {
	left:593px;
	top:1842px;
	width:547px;
	height:3224px;
}

#phrase1 {
	left:35px;
	top:1516px;
	width:520px;
	font-size:65px;
	line-height:78px;
	letter-spacing:-1px;
	text-align:center;
	z-index:2;
}

#nuage1 {
	left:82px;
	top:1680px;
	width:253px;
	height:200px;
	z-index:2;
}

#nuage2 {
	left:1024px;
	top:1882px;
	width:244px;
	height:215px;
	z-index:2;
}

#maison {
	left:481px;
	top:1409px;
	width:753px;
	height:628px;
	z-index:4;
}

#fleur1 {
	left:606px;
	top:2286px;
	width:130px;
	height:177px;
	z-index:4;
}

#phrase2 {
	left:39px;
	top:2351px;
	width:533px;
	font-size:26px;
	z-index:2;
}

#go1 {
	left:74px;
	top:2556px;
	width:16px;
	height:2px;
	z-index:2;
}

#go2 {
	left:640px;
	top:3602px;
	width:16px;
	height:2px;
	z-index:2;
}

#isabellabeau {
	left:42px;
	top:3064px;
	width:203px;
}

#titre-aboutme {
	left:280px;
	top:3141px;
	width:261px;
	text-transform: uppercase;
	font-size:25px;
	letter-spacing:5px;
}

#titre2 {
	left:302px;
	top:3186px;
	width:228px;
	color:#6e5c6f;
	font-family: 'Miniver', cursive;
}

#fleur-moyenne-about {
	left:904px;
	top:3301px;
	width:59px;
	height:59px;
	z-index:4;
}

#fleur-petite-about {
	left:989px;
	top:3345px;
	width:32px;
	height:32px;
	z-index:4;
}

#texte-about {
	left:42px;
	top:3306px;
	width:595px;
	font-size:17px;
	text-align:justify;
}

#fleur-grande-about {
	left:917px;
	top:3392px;
	width:117px;
	height:119px;
	z-index:4;
}

#esencia {
	left:300px;
	top:4063px;
	width:280px;
	font-size:64px;
}

#fleur-jaune {
	left:574px;
	top:4093px;
	width:194px;
	height:202px;
	z-index:4;
}

#experiencias {
	left:30px;
	top:4416px;
	width:473px;
	font-size:48px;
	text-align:right;
}

#fleur-grande {
	left:706px;
	top:4644px;
	width:84px;
	height:75px;
	z-index:4;
}

#fleur-petite {
	left:777px;
	top:4744px;
	width:59px;
	height:59px;
	z-index:4;
}

#instrumento {
	left:62px;
	top:4831px;
	width:384px;
	font-size:32px;
}



/* BLOC 2 */
.bloc2 { background:#d2c608 url(../images/fond-haut-jaune.png) no-repeat top center; height:3967px;}
.content2{top:0px; width:1140px; height:3967px;}

#menu-gallery {
	left:57px;
	top:187px;
	width:546px;
	height:15px;
}

#tallo1 {
	left:588px;
	top:1659px;
	width:547px;
	height:2322px;
}

#tallo2 {
	left:593px;
	top:0px;
	width:547px;
	height:295px;
}

#gallery {
	left:54px;
	top:221px;
	width:944px;
	height:1255px;
	background-color:#FFF;
	
}

#tangible {
	left:74px;
	top:1572px;
	width:950px;
	font-size:46px;
}

#imagenes {
	right:422px;
	top:2056px;
	width:750px;
	font-size:32px;
	text-align:right;
}

#interior {
	left:130px;
	top:2466px;
	width:450px;
	font-size:49px;
	text-align:center;
}

#avion {
	left:49px;
	top:2486px;
	width:77px;
	height:81px;
}

#ligne-points {
	left:38px;
	top:2593px;
	width:276px;
	height:499px;
}

#viajo {
	left:318px;
	top:2965px;
	width:336px;
	font-size:42px;
}

#llevar {
	left:133px;
	top:3556px;
	width:593px;
	font-size:37px;
}

#imagination {
	left:31px;
	top:3617px;
	width:530px;
	font-size:40px;
}






/* BLOC 1 */
.bloc1 { background:url(../images/haut-raiz.png), url(../images/tierra.png); background-repeat:no-repeat, repeat; background-position: top, right; height:1678px;}
.content1{top:0px; width:1140px; height:1678px;}

#raiz{
	left:591px;
	top:0px;
	width:547px;
	height:1188px;
}

#crecer {
	color:#603362;
	left:698px;
	top:270px;
	width:255px;
	font-size:70px;
	text-align:center;
}

#fija {
	left:164px;
	top:637px;
	width:440px;
	font-size:45px;
}

#sueno {
	left:50px;
	top:694px;;
	width:425px;
	font-size:58px;
}


#idea {
	left:364px;
	top:1135px;
	width:340px;
	font-size:48px;
}

#aqui {
	left:596px;
	top:1188px;
	width:261px;
	font-size:40px;
}

#seed {
	position:absolute;
	left:891px;
	top:1173px;
	width:12px;
	height:12px;
}


/* max 1140px */
@media (max-width:1140px) { 
div div{positions:absolute;width:1140;} 
}